@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

section {
    padding: 100px 0;
}

button {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    background: #6441A4;
    border-radius: 0;
    color: white;
    position: relative;
}

button:before {
    content: "";
    position: absolute;
    left: -0.5rem;
    top: 0;
    bottom: 0.5rem;
    width: 0.5rem;
    background: #6441A4;
}

button:after {
    content: "";
    position: absolute;
    left: -0.5rem;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0.5rem 0.5rem 0;
    border-color: transparent #6441A4 transparent transparent;
}

button:hover {
    background: #7D5BBE;
}

button:hover:before {
    background: #7D5BBE;
}

button:hover:after {
    border-color: transparent #7D5BBE transparent transparent;
}

.hero {
    background: url('../img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.hero-head {
    font-family: Inter;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    text-align: left;
    color: #fff
}

.hero-button-series button {
    margin-right: 30px;
    width: 200px;
    margin-top: 100px;
}

.control-section {
    background: #000;
}

.control-para {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

/*-----------------------------------------------------------*/

.discover-section{
    background: #000;
}

.wrapper {
	min-height: 100vh;
    background: #fff;
    overflow-x: hidden;
}

.factsContainer {
    padding: 0em 2em;
    text-align: center;
    line-height: 10vh;
}

.factsContainer h2 {
    font-size: 1.8em;
    transform: scale(0);
    padding: 2em 0em;
    margin-bottom: 15vh;
    color: #F0C368;
}

.factsContainer_sm {
    display: flex;
    width: 300vw;
}

.fact {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 50vw;
    flex: 1;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    color: #F0C368;
}
/*----------------------------------------------------------*/

.revolutionize-section{
    background-color: #DEDEDE;
}

.revolutionize-head {
    font-family: Inter;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    text-align: left;
    color: #000
}

.revolutionize-para {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000;
}

.fundraiser-section{
    background: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fundraise-upper-sec{
    border: 1px solid #FFFFFF33;
    padding: 1em;
    background: #FFFFFF33;
    border-radius: 10px;
}

.fundraise-upper-sec h1{
    font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 36px;
text-align: left;
color: #fff;
}

.fundraise-lower-sec{
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 1em;
    color: #F4F1FE;
    margin-top: 100px;
}

.bp-head{
    font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: left;
}

.bp-para{
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 22.5px;
text-align: left;

}